# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
logs/
tmp/
*.doc
*.log
*.cache
*.diff
*.patch
*.tmp
*.versionsBackup

# system ignore
.DS_Store
Thumbs.db

# to8to rpc
version

/kingdee/账号路径/shr客户地址账号.md
/kingdee/账号路径/eas 外网环境.md
/kingdee/
/note/dingtalk/
/note/qyweixin/

# obsidian
/.obsidian/workspace
